web/WEB-INF/wsdl/localhost_8080/WebApplicationJAX-WS/CalculoBasicoService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.aplicacao.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.aplicacao.com/" name="CalculoBasicoService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.aplicacao.com/" schemaLocation="http://localhost:8080/WebApplicationJAX-WS/CalculoBasicoService?xsd=1"/>
</xsd:schema>
</types>
<message name="somar">
<part name="parameters" element="tns:somar"/>
</message>
<message name="somarResponse">
<part name="parameters" element="tns:somarResponse"/>
</message>
<message name="somarEx">
<part name="parameters" element="tns:somarEx"/>
</message>
<message name="somarExResponse">
<part name="parameters" element="tns:somarExResponse"/>
</message>
<message name="somarVarios">
<part name="parameters" element="tns:somarVarios"/>
</message>
<message name="somarVariosResponse">
<part name="parameters" element="tns:somarVariosResponse"/>
</message>
<message name="somarObjetos">
<part name="parameters" element="tns:somarObjetos"/>
</message>
<message name="somarObjetosResponse">
<part name="parameters" element="tns:somarObjetosResponse"/>
</message>
<message name="somarVariosEx">
<part name="parameters" element="tns:somarVariosEx"/>
</message>
<message name="somarVariosExResponse">
<part name="parameters" element="tns:somarVariosExResponse"/>
</message>
<message name="somarObjeto">
<part name="parameters" element="tns:somarObjeto"/>
</message>
<message name="somarObjetoResponse">
<part name="parameters" element="tns:somarObjetoResponse"/>
</message>
<portType name="CalculoBasico">
<operation name="somar">
<input wsam:Action="http://ws.aplicacao.com/CalculoBasico/somarRequest" message="tns:somar"/>
<output wsam:Action="http://ws.aplicacao.com/CalculoBasico/somarResponse" message="tns:somarResponse"/>
</operation>
<operation name="somarEx">
<input wsam:Action="http://ws.aplicacao.com/CalculoBasico/somarExRequest" message="tns:somarEx"/>
<output wsam:Action="http://ws.aplicacao.com/CalculoBasico/somarExResponse" message="tns:somarExResponse"/>
</operation>
<operation name="somarVarios">
<input wsam:Action="http://ws.aplicacao.com/CalculoBasico/somarVariosRequest" message="tns:somarVarios"/>
<output wsam:Action="http://ws.aplicacao.com/CalculoBasico/somarVariosResponse" message="tns:somarVariosResponse"/>
</operation>
<operation name="somarObjetos">
<input wsam:Action="http://ws.aplicacao.com/CalculoBasico/somarObjetosRequest" message="tns:somarObjetos"/>
<output wsam:Action="http://ws.aplicacao.com/CalculoBasico/somarObjetosResponse" message="tns:somarObjetosResponse"/>
</operation>
<operation name="somarVariosEx">
<input wsam:Action="http://ws.aplicacao.com/CalculoBasico/somarVariosExRequest" message="tns:somarVariosEx"/>
<output wsam:Action="http://ws.aplicacao.com/CalculoBasico/somarVariosExResponse" message="tns:somarVariosExResponse"/>
</operation>
<operation name="somarObjeto">
<input wsam:Action="http://ws.aplicacao.com/CalculoBasico/somarObjetoRequest" message="tns:somarObjeto"/>
<output wsam:Action="http://ws.aplicacao.com/CalculoBasico/somarObjetoResponse" message="tns:somarObjetoResponse"/>
</operation>
</portType>
<binding name="CalculoBasicoPortBinding" type="tns:CalculoBasico">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="somar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="somarEx">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="somarVarios">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="somarObjetos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="somarVariosEx">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="somarObjeto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CalculoBasicoService">
<port name="CalculoBasicoPort" binding="tns:CalculoBasicoPortBinding">
<soap:address location="http://localhost:8080/WebApplicationJAX-WS/CalculoBasicoService"/>
</port>
</service>
</definitions>